body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin: 0;
}

#main {
  width: 626px;
  margin: 64px auto 64px;
}

#main img {
  margin-bottom: 32px;
}

h1 {
  font-family: 'Dosis', sans-serif;
  font-size: 32px;
  font-weight: medium;
  margin-bottom: 16px;
  color: #3F3D56;

}

h1 span {
  font-weight: bold;
  font-size: 32px;
  color: #EE24FF;
}

p {
  color: #828282;
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 64px;
}

span, a, #footer {
  font-weight: bold;
  font-size: 15px;
  color: #3F3D56;
}

#footer a + a {
  margin-left: 45px;
}